page-home {
  #wrapper {
    margin-top: 30%;
    text-align: center;
  }
  #smiley {
    display: inline;
    width: 100%;
  }
  #smiley img {
    width: 15%;
    margin-right: 2%;
  }
  #smiley-btn {
    margin-top: 10%;
  }
}
